* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-image: url("/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 600px;
  gap: 30px;
}

h1 {
  font-size: 35px;
  color: hsl(0, 0%, 98%);
  letter-spacing: 15px;
  text-transform: uppercase;
  /* margin-bottom: 30px; */
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  font-size: 16px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 80%;
}

button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 20px;
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.output {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  /* box-shadow: ; */
  width: 600px;
}

ul li {
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  color: hsl(236, 9%, 61%);
  list-style: none;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 28px;
  border: 1px solid hsl(236, 9%, 61%);
  border-radius: 50%;
  background-image: url("/images/icon-check.svg");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
